.Maincolor {
    background-color: #ffbc02;
}

.Logocolor {
    background-color: #f1c512;
}

.DarkColor {
    background-color: #5d6d7c;
}

.DarkMaincolor {
    background-color: #e3a765;
}

.BlackColor {
    background-color: #231F20;
}

.Background {
    background-color: #fafafa;
}