.TitleFontTypeRoboto{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.SubtFontTypeRoboto{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.TextFontTypeRoboto{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.HugeTextFont{
    font-size: 4em;
}

.BigTextFont{
    font-size: 3em;
}

.MaxTextFont{
    font-size: 4.5em;
}