.TitleFontTypeRoboto{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.TextFontTypeRoboto{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.SubtFontTypeRoboto{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}