.BackgroundDarkImage{
    height: 100vh;
    width: 100%;
    filter: brightness(15%);
}

.BackgroundDarkImageHuge{
    height: 140vh;
    width: 100%;
    filter: brightness(15%);
}

.BackgroundImage{
    height: 91.78vh;
}

.BackgroundImageContainer{
    height: 100vh;
    width: 100%;
    position: relative;
}

.ContentOverImage{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ContentOverImageTop{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -35%);
}